/* Task 3.1 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}
.task-3-1.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto auto auto;
  gap: 24px;
}

.text {
  text-align: center;
}

.sub {
  color: red;
}

p {
  text-align: justify;
}

.pie {
  text-align: center;
}

.link {
  text-align: center;
  display: block;
}

@media (min-width: 720px) {
  .task-3-1.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .navigation {
    grid-column: 1 / span 12;
  }

  .task-3-1 .main {
    grid-column: 3 / span 10;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .task-3-1 .ads {
    grid-column: 1 / span 2;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  }

  .task-3-1 .header .escudo {
    display: grid;
    width: 5px;
    height: 5px;
  }

  .task-3-1 .navigation .cluster {
    text-align: center;
  }

  .task-3-1 .item .ads > .repoiero {
    margin-left: 10px;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .navigation {
    grid-column: 3 / span 8;
  }

  .task-3-1 .main {
    grid-column: 3 / span 8;
  }

  .task-3-1 .sidebar {
    grid-row: 2 / 4;
    overflow: hidden;
  }

  .task-3-1 .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / 4;
    overflow: hidden;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }

  .task-3-1 .header .escudo {
    display: grid;
    width: 100px;
    height: 100px;
    margin-left: 450px;
  }

  .task-3-1 .navigation .cluster {
    text-align: center;
    margin-left: 110px;
  }

  .task-3-1 .navigation .variables {
    text-align: center;
    margin-left: 330px;
  }

  .task-3-1 .ads .repoiero {
    margin-left: 1000px;
  }
}
